@import "variabels.scss";
@import "header.scss";
@import "card.scss";
@import "stars.scss";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.page-content {
  margin: 50px auto;
  padding: 0 $card-body-gap;
  max-width: $card-width * 4 + $card-horizontal-gap * 3 + $card-body-gap * 2;

  display: grid;
  grid-gap: $card-vertical-gap $card-horizontal-gap;
  grid-template-columns: repeat(auto-fit, $card-width);
}
